/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 120px;
    }
    h3 {
        font-size: 20px;
    }
    .sectionhead {
        padding: 0 75px;
    }
    .calltoaction img {
        margin-left: -60px;
    }
    .bigtag {
        left: 320px;
    }
    .smalltag {
        top: 60px;
        left: 80px;
        -webkit-transform: rotate(351deg) scale(.7);
        -moz-transform: rotate(351deg) scale(.7);
        -o-transform: rotate(351deg) scale(.7);
        -ms-transform: rotate(351deg) scale(.7);
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 980px) {
    body {
        text-align: center;
    }
    h1 {
        font-size: 110px;
    }
    h3 {
        font-size: 18px;
    }
    .santa {
        margin-right: -80px;
        overflow: hidden;
    }
    .sectionhead {
        padding: 0;
    }
    .calltoaction img {
        margin-left: 0px;
    }
    .productimg {
        margin-bottom: 20px;
    }
    .bigtag {
        top: 20px;
        left: 500px;
    }
    .smalltag {
        left: 370px;
        top: 110px;
    }
}

/* Smaller Devices */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 95px;
    }
    h3 {
        font-size: 16px;
        margin: 0px;
    }
    .btn-reverse {
        padding: 15px 50px;
    }
    #hero {
        height: 500px;
    }
    .santa {
        margin-right: 0px;
    }
}

/* Mobile Devices */
@media only screen and (max-width: 640px) {
    .sticky-container,
    .santa {
        display: none;
    }
    h1 {
        font-size: 75px;
    }
    h3 {
        font-size: 13px;
        margin: 0px;
    }
    .btn-reverse {
        padding: 10px 20px;
    }
    #hero {
        height: 360px;
    }
    #hero .container {
        padding-top: 30px;
    }
    #hero p {
        padding-top: 60px;
    }
    .bigbell {
        height: 160px;
        margin-top: -25px;
    }
    .bigtag {
        left: 450px;
    }
    .smalltag {
        left: 320px;
    }
    input,
    .btn-inverse {
        padding: 15px 30px;
        width: 85%;
        margin: 20px 0 0 0;
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 12px;
        margin: 0px;
    }
    .sectionhead p {
        font-size: 14px;
    }
    #hero {
        height: 320px;
    }
    #hero .btn {
        margin-top: 10px;
    }
    .calltoaction img {
        max-width: 100%;
    }
    .bigtag {
        left: 350px;
    }
    .smalltag {
        left: 240px;
    }
    .logo {
        font-size: 28px;
    }
}

/* Even Smaller Mobile Devices */
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 50px;
    }
    .btn-reverse {
        padding: 10px;
    }
    #hero .container {
        padding-top: 50px;
    }
    .optional {
        display: none;
    }
    .bigbell {
        margin-top: -50px;
    }
    .bigtag {
        left: 270px;
    }
    .smalltag {
        left: 180px;
    }
    #products {
        background: none;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 17px;
    }
    #hero p {
        padding-top: 40px;
    }
    #overview {
        padding-top: 50px;
    }
    .bigbell {
        margin-top: -30px;
    }
    .bigtag {
        left: 230px;
    }
}