/* --------------------- 
BASIC SETTINGS
--------------------- */

@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(../fonts/ubuntu.ttf); /* Путь к файлу со шрифтом */
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000;
}

a:hover {
    color: #f53f2c;
    text-decoration: none;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    cursor: pointer;
}

.ubuntu {
    font-family: Ubuntu;
}

.cursivePacifico {
    font-family: 'Pacifico', cursive;
}

a:visited {
    text-decoration: none
}

.highlight {
    color: #f53f2c;
}

h1 {
    font-size: 138px;
}

h2 {
    font-family: 'Ubuntu', cursive;
}

h3 {
    font-family: 'Ubuntu'
}

h4 {
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 1.7em;
    color: #b2b2b2;
}

/* --------------------- 
BUTTONS
--------------------- */
.btn:focus,
input:focus {
    outline: none !important;
}

.btn {
    border-radius: 30px;
    padding: 5px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.btn:focus {
    /*background: #b73426;*/
    color: #fff;
    border: 2px solid #f53f2c;
}

.btn-default {
    background: none;
    color: #f53f2c;
    border: 2.5px solid #f53f2c;
}

.btn-default:hover {
    background: #f53f2c;
    color: #fff;
    border: 2px solid #b73426;
}

.btn-reverse {
    border: 2.5px solid #fff;
    color: #fff;
    border-radius: 0;
}

.btn-reverse:hover {
    color: #fff;
    border-radius: 45px;
}

.btn-inverse {
    background: #b73426;
    color: #fff;
    border: 2.5px solid #f53f2c;
    margin: 1em 1em;

}

.btn-inverse:hover {
    background: #892821;
    color: #fff;
    border: 2.5px solid #f53f2c;
}

/* --------------------- 
INPUT FIELDS
--------------------- */
input {
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #b2b2b2;
    margin: 30px 5px;
    color: #b2b2b2;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

input:focus {
    border: 2px solid #f53f2c;
}

/* --------------------- 
SECTION HEADINGS
--------------------- */
.sectionhead {
    padding: 0 150px;
}

.sectionhead h2 {
    padding-bottom: 10px;
}

.sectionhead p {
    font-size: 16px;
    line-height: 1.6em;
}

.sectionhead hr {
    width: 75px;
    border-bottom: 4px solid #eeeeee;
}

/* --------------------- 
HERO SECTION
--------------------- */
#hero {
    text-align: center;
    height: 560px;
    color: #fff;
    background: url(../img/bg.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10em;
}

#hero .container {
    padding-top: 70px;
}

#hero h1 {
    font-weight: 800;
    text-transform: uppercase;
    line-height: .8em;
    text-shadow: 7px 9px 5px rgba(161, 19, 15, 0.294);
}

#hero p {
    text-transform: uppercase;
}

#hero p {
    padding-top: 75px;
    color: #fff;
}

.bigbell {
    margin-top: -65px;
}

.santa {
    float: right;
    margin-top: -390px;
}

.calltoaction {
    margin-top: 75px;
    background: url(../img/bg.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.calltoaction .content {
    padding: 65px 0;
}

.calltoaction p {
    color: #9f9f9f;
}

.calltoaction img {
    margin-top: -60px;
    margin-bottom: -15px;
}



/* ---------------------
SUBSCRIBE SECTION
--------------------- */
#subscribe {
    margin-top: 155px;
    background: url(../img/bg.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.santaicon {
    margin-top: -160px;
    overflow: hidden;
}

#subscribe .container {padding: 65px 0;}

/* --------------------- 
PRODUCTS SECTION
--------------------- */
/*#products {*/
/*background: url(../img/tag.gif) no-repeat;*/
/*background-position: right 0;*/
/*padding-top: 75px;*/
/*}*/

.featureditem {
    padding: 75px 0 20px;;
}

.featureditem img {
    margin-top: -20px;
}

.productimg {
    max-width: 100%;
}

.productimg:hover {
    opacity: .8;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.price {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}

.offertag {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 70px;
    height: 70px;
    padding: 5px;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    transform: rotate(351deg);
    -webkit-transform: rotate(351deg);
    -moz-transform: rotate(351deg);
    -o-transform: rotate(351deg);
    -ms-transform: rotate(351deg);
}

.offertag h4 {
    margin-bottom: 0px;
}

.offertag p {
    color: #fff;
}

.bigtag {
    top: 10px;
    left: 400px;
}

.smalltag {
    top: 100px;
    left: 110px;
    -webkit-transform: rotate(351deg) scale(.8);
    -moz-transform: rotate(351deg) scale(.8);
    -o-transform: rotate(351deg) scale(.8);
    -ms-transform: rotate(351deg) scale(.8);
}

.fixedoffer {
    background: #89d055;
}

.percentoffer {
    background: #f53f2c;
}

.otheroffer {
    background: #668bde;
}

.moreitems .col-md-4 {
    padding-left: 0;
}

.redoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 24, 0, 0.75);
    position: relative;
}

.lightoverlay {
    background-color: rgba(248, 248, 248, 0.9);
    position: relative;
}

.darkoverlay {
    background-color: rgba(54, 57, 66, 0.75);
    position: relative;
}

.user-photo {
    width: 12em;
    height: 12em;
}

.user-photo-big {
    width: 17em;
    height: 17em;
}

.user-name {
    font-family: 'Ubuntu';
    height: 4em;
    font-size: 1.5em;
}

.comment {
    font-family: 'Ubuntu';
    padding-bottom: 1em;
    min-height: 15em;
}

a img {
    width: 2.5em;
    height: 2.5em;
}
