<div id="hero">
    <div class="redoverlay">
        <div class="container">
            <div class="row">
                <div class="herotext">
                    <h2 class="wow zoomInDown cursivePacifico" data-wow-duration="3s">Merry Christmas</h2>
                    <h1 class="wow flipInY">ANDERSEN</h1>
                    <a class="btn btn-reverse wow zoomIn" routerLink="/{{city}}">
                        <h3>{{city}}</h3>
                    </a>
                    <p class="wow fadeInUp ubuntu" data-wow-duration="2s">Возможность поздравить своих коллег</p>
                    <img class="bigbell wow tada infinite" data-wow-duration="30s" src="img/bell.png" alt="">
                </div>
                <div class="santa wow bounceInDown" data-wow-duration="2s">
                    <img src="img/santa.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overview" class="container">
    <div  class="container">
        <div *ngIf="userInfo" class="row">
            <div class="col-md-5 text-center">
                <img class=" img-circle user-photo-big" src="{{userInfo.photo_200}}" alt="">
            </div>
            <div class="col-md-7 text-center">
                <h2>{{userInfo.first_name+' '+ userInfo.last_name}}</h2>
                <h3>Отправить свой комментарий</h3>
                <form>
                    <input class="form-control" type="text" #commentText>
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                    <button class="btn btn-default" (click)="addComment(commentText)"> Отправить</button>
                </form>

            </div>
        </div>
        <hr>
        <div *ngIf="commentsOfUser" class="row moreitems">
            <div *ngFor="let comment of commentsOfUser" class="col-md-4 text-center comment">
                <h3>{{comment.text}}</h3>
                <p>
                    {{comment.likes.length}} понравилось это поздравление
                </p>
                <a (click)="like(comment._id)">
                    <img class="like" [src]="comment.likes.indexOf(currentUserId)==-1 ? noLikeImg : likeImg">
                </a>
            </div>
        </div>
    </div>
</div>