<div id="hero">
    <div class="redoverlay">
        <div class="container">
            <div class="row">
                <div class="herotext">
                    <h2 class="wow zoomInDown cursivePacifico" data-wow-duration="3s">Merry Christmas</h2>
                    <h1 class="wow flipInY">ANDERSEN</h1>
                    <div class="btn btn-reverse wow zoomIn">
                        <h3>{{city}}</h3>
                    </div>
                    <p class="wow fadeInUp ubuntu" data-wow-duration="2s">Возможность поздравить своих коллег</p>
                    <img class="bigbell wow tada infinite" data-wow-duration="30s" src="img/bell.png" alt="">
                </div>
                <div class="santa wow bounceInDown" data-wow-duration="2s">
                    <img src="img/santa.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overview" class="container">
    <div *ngIf="cityUsers" class="row">
        <div *ngFor="let userInfo of cityUsers" class="col-md-4 col-lg-3 col-sm-6 col-xs-12 text-center">
            <a routerLink="/{{city}}/user/{{userInfo.uid}}">
                <img class="img-circle img-respose user-photo" src="{{userInfo.photo_200}}" alt="">
                <div class="user-name text-center">{{userInfo.first_name+' '+ userInfo.last_name}}</div>
            </a>
        </div>
    </div>
</div>
