<div id="subscribe">
    <div class="redoverlay">
        <div class="container text-center">
            <img class="santaicon wow tada infinite" data-wow-duration="20s" src="img/santa-sm.png" alt="">
            <div class="sectionhead">
                <h2>Choose your city </h2>
            </div>
            <div class="mailchimp">
               <button  *ngFor="let city of cities"  routerLink="/{{city.url}}" class="btn btn-inverse">{{city.name}}</button>
            </div>
        </div>
    </div>
</div>





